.root {
    -fx-font-family:"WillowBody";
}

#anchorPane {
    -fx-background-color: radial-gradient(center 50% 50%, radius 95%, #5879b7, #282c3d);
}

#filterLabel {
    -fx-font-size: 20;
    -fx-background: transparent;
    -fx-cursor: hand;
}

#filterLabel .text {
    -fx-fill: white;
    -fx-stroke: black;
    -fx-stroke-width: 1px;
}

#itemFlowPane {
    -fx-vgap: 5;
}

#gameLabel .text {
    -fx-font-size: 25;
    -fx-fill: #fbff00;
    -fx-stroke: black;
    -fx-stroke-width: 1px;
}

#itemNameLabel .text {
    -fx-stroke: black;
    -fx-stroke-width: 1px;
}

#flavorTextLabel .text {
    -fx-font-size: 18;
    -fx-stroke: black;
    -fx-stroke-width: 1px;
    -fx-alignment: LEFT;
}

#gameLabel {
    -fx-pref-width: 204;
}

#itemNameLabel {
    -fx-min-height: 37;
    -fx-min-width: 37;
}

#flavorTextLabel {
    -fx-text-fill: #ff6d6d;
    -fx-wrap-text: true;
    -fx-max-width: 300;
}

#gameLabel, #itemNameLabel {
    -fx-max-width: 300;
    -fx-alignment: CENTER;
}

#sourcesLabel, #sourcesListLabel {
    -fx-max-width: 300;
}

#sourcesListLabel {
    -fx-wrap-text: true;
}

#sourcesLabel .text {
    -fx-font-size: 12;
    -fx-fill: rgb(177, 177, 177);
}

#sourcesListLabel .text {
    -fx-font-size: 18;
    -fx-fill: white;
    -fx-stroke: black;
    -fx-stroke-width: 1px;
}

#itemPane {
    -fx-background-image: url("weapon_card.png");
    -fx-pref-height: 470;
    -fx-pref-width: 336;
}

#obtainedPane {
    -fx-pref-height: 27;
    -fx-pref-width: 27;
    -fx-max-height: 27;
    -fx-max-width: 27;
    -fx-cursor: hand;
}

#huntPointsLabel {
    -fx-font-size: 18;
    -fx-min-width: 24;
    -fx-alignment: CENTER;
}

#huntPointsLabel .text {
    -fx-fill: #ff8800;
}

#itemImageStackPane {
    -fx-min-width: 288;
    -fx-min-height: 162;
    -fx-max-width: 288;
    -fx-max-height: 162;
}

#itemVBox {
    -fx-max-width: 336;
    -fx-max-height: 453;
    -fx-pref-height: 470;
    -fx-pref-width: 336;
    -fx-alignment: TOP_CENTER;
}

#itemTextScrollPane {
    -fx-max-width: 320;
    -fx-hbar-policy: NEVER;
    -fx-pref-height: 230;
}

.scroll-bar:vertical, .scroll-bar:vertical .increment-button, .scroll-bar:vertical .decrement-button , .scroll-bar:vertical .increment-arrow , .scroll-bar:vertical .decrement-arrow {
    -fx-background-color: transparent;
    -fx-pref-width: 7;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: rgb(177, 177, 177);
    -fx-opacity: 0.5;
}

#itemTextVBox {
    -fx-max-width: 305;
}

#itemWikiLinkPane {
    -fx-cursor: hand;
    -fx-max-width: 60;
}

#itemBottomHBox {
    -fx-pref-height: 30;
    -fx-max-width: 300;
    -fx-alignment: CENTER;
}

.toggle-button, #none, #all {
    -fx-background-color: transparent;
    -fx-font-weight: bold;
    -fx-font-size: 20;
    -fx-pref-height: 50;
    -fx-pref-width: 198;
    -fx-background-insets: 0;
    -fx-background-radius: 10;
    -fx-padding: 5 0 5 0;
}

#searchTextField {
    -fx-background-color: transparent;
    -fx-font-weight: bold;
    -fx-font-size: 20;
    -fx-pref-height: 50;
    -fx-pref-width: 198;
    -fx-background-repeat: no-repeat;
    -fx-background-insets: 0;
    -fx-background-radius: 10;
    -fx-padding: 5 6 5 10;
    -fx-background-image: url("filter_background_search.png");
    -fx-text-fill: white;
}

#searchTextField .text {
    -fx-stroke: black;
    -fx-stroke-width: 1px;
}

.toggle-button .text, #all .text, #none .text {
    -fx-fill: white;
    -fx-stroke: black;
    -fx-stroke-width: 1px;
}

.toggle-button {
    -fx-background-image: url("filter_background_off.png");
}

.toggle-button:selected {
    -fx-background-image: url("filter_background_on.png");
}

.toggle-button:hover {
    -fx-background-image: url("filter_background_off_hover.png");
}

.toggle-button:selected:hover {
    -fx-background-image: url("filter_background_on_hover.png");
}

#all {
    -fx-background-image: url("filter_background_on_mini.png");
}

#all:hover {
    -fx-background-image: url("filter_background_on_mini_hover.png");
}

#all:pressed {
    -fx-background-image: url("filter_background_on_mini.png");
}

#all, #none {
    -fx-max-width: 98;
}

#none {
    -fx-background-image: url("filter_background_off_mini.png");

}

#none:hover {
    -fx-background-image: url("filter_background_off_mini_hover.png");

}

#none:pressed {
    -fx-background-image: url("filter_background_off_mini.png");
}

.scroll-pane, .scroll-pane > .viewport {
    -fx-background-color: transparent;
}

#itemScrollPane {
    -fx-border-color: #282f49;
    -fx-border-style: solid;
    -fx-border-width: 0 0 0 2;
    -fx-hbar-policy: NEVER;
    -fx-vbar-policy: NEVER;
}

#filterVBox {
    -fx-pref-width: 200;
    -fx-alignment: CENTER;
}

#filterScrollPane {
    -fx-hbar-policy: NEVER;
    -fx-vbar-policy: NEVER;
    -fx-pref-width: 202;
}

#bannerBox {
    -fx-background-color: linear-gradient(to bottom, #71c5d6, #4671a9);
    -fx-pref-height: 50;
    -fx-border-color: #282f49;
    -fx-border-width: 0 0 2 0;
    -fx-border-style: solid;
}

#toolTip {
    -fx-effect: none;
    -fx-font-size: 10;
    -fx-opacity: 0.8;
    -fx-padding: 3;
    -fx-text-alignment: CENTER;
}

#toolTip .text {
    -fx-stroke: none;
    -fx-fill: white;
}